:root {
  --gridBorder: #e4e4e4;
  --screen: #f5f0f0;
  --highlight: #f7da59;
  --active: #248ee4;
  --font-color: whitesmoke;
}

* {
  box-sizing: border-box;
  font-family: 'Yaldevi', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  color: var(--font-color);
  overflow-x: hidden;
}

#title {
  text-align: center;
}

#etch-a-sketch {
  display: flex;
  justify-content: center;
}

#controls {
  display: flex;
  margin: 0 5vw;
  height: min(75vw, 75vh);
  width: auto;
  min-width: 250px;
  max-width: 440px;
  max-height: 700px;
}

#controls-fieldset {
  border: 2px solid var(--font-color);
}

#controls-fieldset > legend {
  padding: 0 8px;
}

.ctrl-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#grid {
  display: flex;
  justify-content: center;
  width: min(75vw, 75vh);
  height: min(75vw, 75vh);
  max-width: 700px;
  max-height: 700px;
  flex-flow: row wrap;
  background-color: var(--screen);
  border: 2px solid black;
  margin-top: 8px;
}

.grid-unit {
  background-color: var(--screen);
  transition: background-color 0.25s ease-in;
}

.grid-unit:hover {
  border: 2px solid var(--highlight);
  cursor: pointer;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  height: 40px;
  width: 120px;
  border: 1px solid var(--font-color);
  display: inline-block;
  color: var(--font-color);
  font-size: 15px;
  padding: 0 12px;
  margin: 8px;
}

.button.selected {
  background-color: var(--active);
}

.button:hover {
  color: black;
  border: 1px solid black;
  background-color: var(--highlight);
}

@media screen and (max-width: 1024px) {
  #etch-a-sketch {
    flex-direction: column-reverse;
    align-items: center;
  }

  #controls {
    display: block;
    width: min(75vw, 75vh);
    margin: 5vw 0;
  }

  .ctrl-options {
    justify-content: space-between;
  }

  .button {
    margin: 8px 0;
  }
}

@media screen and (max-width: 580px) {
  .ctrl-options {
    flex-direction: column;
  }

  .ctrl-options .button {
    width: 100%;
  }
}
