:root {
  --ink: #9e9d9e;
  --screen: #f5f0f0;
  --highlight: #257ec7;
  --font-color: whitesmoke;
}

* {
  box-sizing: border-box;
  font-family: 'Yaldevi', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  color: var(--font-color);
  overflow-x: hidden;
}

#title {
  text-align: center;
  color: var(--font-color);
}

#etch-a-sketch {
  display: grid;
  justify-content: center;
}

#grid {
  display: flex;
  justify-content: center;
  margin: auto;
  width: min(75vw, 75vh);
  height: min(75vw, 75vh);
  flex-flow: row wrap;
  background-color: var(--screen);
  border: 1px solid black;
}

.grid-unit {
  background-color: var(--screen);
  border: 0.5px solid var(--ink);
}

.grid-unit:hover {
  border: 2px solid var(--highlight);
  cursor: pointer;
}

#controls {
  display: flex;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  color: var(--font-color);
  font-size: 15px;
  padding: 9px 23px;
}

.button:hover {
  background-color: var(--highlight);
}

.button:active {
  position: relative;
  top: 1px;
}
