* {
  box-sizing: border-box;
  font-family: 'Yaldevi', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title {
  text-align: center;
  color: whitesmoke;
}

#grid {
  display: flex;
  justify-content: center;
  margin: auto;
  width: min(75vw, 75vh);
  height: min(75vw, 75vh);
  flex-flow: row wrap;
  background-color: whitesmoke;
  border: 1px solid black;
}

.grid-unit {
  background-color: whitesmoke;
  border: 0.5px solid grey;
}
